<!-- Modal body -->
<div class="p-6 space-y-6" id="edit-modal-body">
    <form   action="#" 
            hx-post="/magicscripts/mgrqispi.dll?appname=math-crud&prgname=UpdUsr"
            hx-target="#edit-modal-body"
            hx-swap="outerHTML" 
            xhx-on::before-request="document.getElementById('edit-close').click();"
            >
        <input type="hidden" name="userid" id="userid" 
            value="<!$MG_id>">
        <div class="grid grid-cols-6 gap-6">
            <div class="col-span-6 sm:col-span-3">
                <label for="first-name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">First Name</label>
                <input type="text" name="first-name" id="first-name" 
                value="<!$MG_first_name>"
                class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Bonnie" required>
            </div>
            <div class="col-span-6 sm:col-span-3">
                <label for="last-name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Last Name</label>
                <input type="text" name="last-name" id="last-name" 
                value="<!$MG_last_name>"
                class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Green" required>
            </div>
            <div class="col-span-6 sm:col-span-3">
                <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email</label>
                <input type="email" name="email" id="email" 
                value="<!$MG_email>"
                class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="example@company.com" required>
            </div>
            <div class="col-span-6 sm:col-span-3">
                <label for="position" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Position</label>
                <input type="text" name="position" id="position" 
                value="<!$MG_position>"
                class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="e.g. React developer" required>
            </div>
            <div class="col-span-6">
                <label for="biography" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Biography</label>
                <textarea name="biography" id="biography" 
                rows="4" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" 
                placeholder="👨‍💻Full-stack web developer. Open-source contributor."
                ><!$MG_biography></textarea>
            
            </div>
        </div> 
    
        <!-- Modal footer -->
        <div class="items-center p-6 border-t border-gray-200 rounded-b dark:border-gray-700">
            <button class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" 
            type="submit">Save changes</button>
        </div>
    </form>
</div>
<!$MGIF_editmsg>
<div id="msgtext" hx-swap-oob="true"><!$MG_msgtext></div>
<!$MGENDIF>
<!$MGIF_success>
<script>
    document.getElementById('edit-close').click();
    document.getElementById('table-header').click();
</script>
<!$MGENDIF>